$light-color-primary: #f45833;
$dark-color-primary: #f45833;

$light-color-mute: #595655;
$dark-color-mute: #9d9b9a;

$light-color-secondary: #c1715e;
$dark-color-secondary: #c1715e;

$light-color-focus: #b5523b;
$dark-color-focus: #b5523b;